$fg-color: #{"@window_fg_color"};
$bg-color: #{"@window_bg_color"};
$bg-trans: #{"@transp_bg"};
$fg-trans: #{"@transp_fg"};

window.statusbar {
    background: $bg-trans;
    color: $fg-color;
    font-weight: bold;

    workspaces {
        color: $fg-color;
        .focused {
            border: solid 15px $fg-trans;
        }
        .unfocused {
            border: solid 15px transparent;
        }
    }

    centerbox {
        background: transparent;
        border-radius: 10px;
    }

    button {
        background: transparent;
    }

    calender {
        background: $bg-trans;
        border: none;
    }

    time * {
        all: unset;
        background: transparent;
        color: $fg-color;
    }
}
