$fg-color: #{"@window_fg_color"};
$bg-color: #{"@window_bg_color"};
$bg-trans: #{"@transp_bg"};

window.statusbar {
    background: $bg-trans;
    color: $fg-color;
    font-weight: bold;

    centerbox {
        background: transparent;
        border-radius: 10px;
    }

    button {
        background: transparent;
    }

    calender {
        background: $bg-trans;
        border: none;
    }

    time * {
        all: unset;
        background: transparent;
        color: $fg-color;
    }
}
