$fg-color: #{"@window_fg_color"};
$bg-color: #{"@window_bg_color"};
$bg-trans: #{"@transp_bg"};
$fg-trans: #{"@transp_fg"};
$fg-trans-inactive: #{"@transp_fg_inactive"};

window.statusbar {
    background: $bg-trans;
    color: $fg-color;
    font-weight: bold;

    workspaces {
        color: $fg-color;

        button {
            border-bottom: 5px solid transparent;
            border-radius: 0px;
            background: transparent;
            transition: border-color 500ms ease-out;

            &.focused {
                border-color: $fg-trans;
                animation: border-fade-in 300ms ease-out;
            }

            &.unfocused {
                border-color: $fg-trans-inactive;
            }
        }
    }

    @keyframes border-fade-in {
        0% {
            border-color: transparent;
        }
        100% {
            border-color: $fg-trans;
        }
    }

    button {
        background: transparent;
    }
}
